streamlit
PyPDF2
pandas
requests
beautifulsoup4
python-dotenv
google-cloud-vision
pdf2image
Pillow
langchain-groq
langchain
langchain-community  
chroma-hnswlib       
sentence-transformers
huggingface_hub
tiktoken             
